language: php

cache:
  directories:
    - ~/.composer/cache

sudo: false

php:
  - 5.6

addons:
  apt:
    packages:
      - libav-tools

before_install:
  - printf "\n" |pecl install imagick

install:
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - composer install

script: ./bin/phpunit -c app --testsuite=unit
