language: php

cache:
  directories:
    - ~/.composer/cache

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6

addons:
  apt:
    packages:
      -libav-tools

before_install:
  - printf "\n" |pecl install imagick

install:
  - composer install

script: ./bin/phpunit -c app --testsuite=unit
